
:root{
    --cor1:#0b8998;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url("../image/png.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
ul li {
    display: inline-block;
    margin: 10px;
}
nav a:hover{
   color: var(--cor1);
}
nav a{
    transition: .5s all;
    text-decoration: none;
    color: black;

}
#preto{
    font-weight: bold;
}
main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    
}

img#logo3{
    width: 150px;
    height: 100px;
    padding: 0;
    margin: 0;
    

}
img#doc{
    width: 400px;
    height: 700px;
}
img#logo2{
    width: 205px;
    height: 255px;
}
#clin{
    margin-bottom: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
h2{
    color: var(--cor1);
    font-weight: bold;
}
.btn1{
    padding: 15px;
    background-color: var(--cor1);
    border: none;
    width: 200px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all;
}
.btn1:hover{
    background-color: #0b7885;
}
#direita{
    margin-left: 50px;
}
#esquerda{
    margin-right: 100px;
    position: relative;
}
#logo2{
   position: absolute;
   top: 25%;
   left: 50%;
}

section#mae{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}
#mae p{
    color: #0b8998;
}
.pa{
    text-align: center;
}
span{
    font-weight: bold;
    color: #0b7885;
}


/*secao2*/
#secoa2{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
   
}
.server{
    margin-left: 100px;   
}
img#ceta1{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotatey(360deg);
    transition-duration: .5s;
}
img#ceta{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotatey(180deg);
    transition-duration: .5s;
}
#ceta:hover{

    transform: scale(1.2) rotatey(180deg);
}
#ceta1:hover{
    transform: scale(1.1);
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-filho{
    cursor: pointer;
    margin-right: 80px;
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    transition-duration: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    padding: 10px;
}
.card-filho:hover{
    transform: scale(1.1) translatey(-15px);
    background-color: var(--cor1);
    color: white;
}
.b1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pixe{
    margin-top: 140px;
    font-weight: bold;
    transition-duration: .1s;
}
.pix{
  margin-top: 100px;
  font-weight: bold;
  transition-duration: .1s;
}
#link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#coracao{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    color: aliceblue;
}
/*secao3*/
#secao3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.planta{
    display: flex;
    flex-wrap: nowrap;  
    
}
.content{
    width: 288px;
    height: 360px;
    border: 1px solid #0b8998;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}
.server2{
  text-align: left;
}

.bolas{
    width: 70px;
    height: 70px;
    background-color: var(--cor1);
    line-height: 70px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    border-radius: 50%;
}
.extra{
    background-color: #0b8998;
    display: flex;
    justify-content: space-evenly;
}
.extra p{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    max-width: 70%;
}
#sass{
   text-decoration: none;
   color: white;
   font-weight: bold;
   border: 0.9px solid white;
   padding: 10px;
   width: 70%;
}
#secao4 h1{
    color: #0b8998;
    font-size: 2.3rem;
    margin-right: 100px;
}
.li{
    border-bottom: 1px solid #0b8998;
    font-size: 1.1rem;
    max-width: 700px;

    
}
#secao4{
    margin-top: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.linhas ul li{
    display: block;
    
}
ul li{
    list-style-type: circle;
}
span#seta{
    color: #0b8998;
    font-size: 1.2rem;
}
/*secao5*/
#secao5{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}
#icon{
    width: 30px;
    height:30px;
   
}

.esq-filho{
    display: flex;
    align-items: center;
}

div p#color{
    margin-left: 10px;
    font-weight: bold;
    color: #0b8998;
}
a#casa{
    color: #0b8998;
}
.final{
    color: var(--cor1);
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}
.final-filho{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}
.final-filho img{
    margin-left: 20px;
    cursor: pointer;
}
.final-sobrinho{
    display: flex;
    justify-content: center;
    align-items: center;
}
img#mesmo{
    width: 20px;
    height: 20px;
}
/*media query*/
